# Игнорировать папку .idea (для PyCharm/IntelliJ)
.idea/

# Игнорировать виртуальное окружение
env/
venv/
*.env

# Игнорировать файлы базы данных SQLite
*.sqlite3

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать статические файлы (если они генерируются)
staticfiles/

# Игнорировать медиафайлы (если они генерируются)
media/

# Игнорировать файлы окружения
.env
.env.local

# Игнорировать логи
*.log